symbion-profiler/src/main/resources/exampleModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.balazsbela.org/symbion/models"
	targetNamespace="http://www.balazsbela.org/symbion/models" elementFormDefault="qualified" >

<xs:element name="info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="street" type="xs:string" minOccurs="0"/>
      <xs:element name="zip" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

 
  
</xs:schema>